svg
{
  border: 1px solid lightgray;
  background-color: lightsteelblue;
}
.countries
{
  fill: grey;
}

.hover
{
  fill: black;
}

.country-borders
{
  fill:   none;
  stroke: #FFF;
  stroke-width: 0.1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  cursor: pointer;
}
.hidden
{
  display: none;
}

.tooltip
{
  color: #222;
  background-color: #fff;
  padding: .5em;
  border-radius: 2px;
  opacity: 0.9;
  font: 14px sans-serif;
  background: orange;
  position: absolute;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.large-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
}

.page-wrapper {
  margin: 20px 300px 5px 300px;
  background-color: #F4F6F7;
}


.placeholder {
  background-color: orange;
  height: 100px;
  margin:15px 30px 15px 30px;
}

.placecharts {
  border: 1px solid lightsalmon;
  background-color: green;
  height: 200px;
  margin:15px 30px 15px 30px;
}

.title-style{
  margin: 1em 0 0.5em 0;
  font-weight: 600;
  font-family: 'Titillium Web', sans-serif;
  position: relative;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
  font-size: 50px;
  line-height: 40px;
  color: #355681;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(53,86,129, 0.3);
}

.item-map-style{
  align-content:center;
  margin:15px 30px 15px 30px;
}

.line{
  fill: none;
  stroke: url(#line-gradient);
  stroke-width: 2px;
}

body { font: 12px Arial;}

path { 
  stroke: steelblue;
	stroke-width: 2;
	fill: none;
}

.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

svg2
{
  border: 1px solid darkblue;
  background-color: purple;
}
